.contact-container {
    padding: 150px 0px;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.contact-container > h1 {
    font-size: 2.5em;
}

.contact-container > a {
    border-radius: 4px;
    padding: 12px 8px;
}

.contact-container > a:hover {
    background-color: #0008;
}